<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.storchp.opentracks.osmplugin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Startup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:launchMode="singleInstance"
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter
                android:label="@string/app_name"
                android:priority="50">
                <action android:name="Intent.OpenTracks-Dashboard" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadMapsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThemeSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>